SCRIPT_IDS=
AES_KEY_B64=
MIN_BATCH_INTERVAL=1.0
MAX_BATCH_INTERVAL=3.0
GOOGLE_IPS=216.239.38.120,216.239.38.121,216.239.38.122
FRONT_DOMAINS=www.google.com,www.gstatic.com,ajax.googleapis.com,encrypted-tbn0.gstatic.com
